/bin/
/target/
/start.bat
/PureCompetenceBotBeta-b0.02_Beta4.jar
/PureCompetenceBotBeta-b0.02_Beta3.jar
/PureCompetenceBotBeta-b0.01.jar
/PureCompetenceBotBeta-b0.01.2.jar
/PureCompetenceBotBeta-b0.01.1.jar
